<div style="padding: 30px 0; text-align: start; font-family: Arial; color: #fff;">
    <p>
        <h3>Dear <%= userName %>,</h3><br>
      Welcome to Share Sphere, your number one social media app.<br>
      <br>
    </p>
    <a href="http://localhost/users/login" style="display: inline-block; padding: 10px 20px; background-color: #3498db; color: #fff; text-decoration: none; border-radius: 5px;">Verify Account</a>
  </div>
  